header{
  flex-direction: column;
  align-items: center;
}
#HeaderContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

#HeaderInfo{
  flex: 2;
  width: auto;
  grid-row: 2/span 1;
}
#HeaderLinks{
  display: none;
}
#HeaderLinksBurger{
  flex: 1;
  display: inline-block;
  grid-row: 1/span 1;
  align-self: center;
  justify-self: center;
  width: auto;
}
#HeaderLinksBurger i{
  display: block;
  padding: 15px;
  margin: 15px;
}
#HeaderLinksBurger i:hover{
  font-size: 20px;
}
#Brands .imagecontainer{
  padding:6px;
}


  .card{
    width: 360px;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer > * {
    width: auto;
  }
  footer #Need h1{
    text-align: center;
  }
  footer #Shopping h1{
    text-align: center;
  }
  footer #Shopping{
    width: auto;
  }
  footer #Shopping div{
    grid-template-columns: auto auto auto;
  }